<section id="hero">
    <div id="heroCarousel">
        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active" style="background-image: url(/assets/images/slide-1.jpg)">
                <div class="container">
                    <h2>Bienvenido a <span>MDoctors</span></h2>
                    <router-outlet></router-outlet>
                    <p>¿Te sientes mal y no sabes si pedir una cita o ir a urgencias? encuentra tu especialista aqui</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--seccion de servicios-->
<section id="services" class="services services">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Servicios</h2>
            <p>Encuentra especialistas y agenda tu cita médica</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon">  <img src="/assets/images/especialidades/nutricion.png" alt=""></div>
                <h4 class="title"><a href="">Nutrición y dietética</a></h4>
                
              </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon">
                <img src="/assets/images/especialidades/derma.png" alt="">
              </div>
              <h4 class="title"><a href="agenda.html">Dermatologia</a></h4>
              
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon">
                <img src="/assets/images/especialidades/gine.png" alt="">
              </div>
              <h4 class="title"><a href="">Ginecología y obstetricia</a></h4>
             
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon">
                <img src="/assets/images/especialidades/general.png" alt="">
              </div>
              <h4 class="title"><a href="">Medicina general</a></h4>
              
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon">  <img src="/assets/images/especialidades/medicinainterna.png" alt=""></div>
              <h4 class="title"><a href="">Medicina interna</a></h4>
              
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon">  <img src="/assets/images/especialidades/neuro.png" alt=""></div>
              <h4 class="title"><a href="">Neurología</a></h4>
             
            </div>

          </div>
    </div>
</section>
<!--seccion de preguntas frecuentes-->
<section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Preguntas frecuentes</h2>
          </div>
          <ul class="faq-list">
            <li>
                <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">
                  ¿Qué es medicio?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Somos una plataforma que te conecta con médicos especialistas particulares, fácil, rápido, con precios al alcance de todos y sin pagar mensualidades. aqui puedes pedir tus citas médicas sin necesidad de estar afiliado a un servicio complementario de salud.
                  </p>
                </div>
              </li>
          </ul>
    </div>
</section>
<!--seccion de unete-->
<section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>¿ Eres medico?</h2>
            <p>Haz parte de nuestra red de profesionales en Mexico</p>
            <div class="btn-wrap">
                <a href="#" class="appointment-btn scrollto"><span class="d-none d-md-inline">Unete</span></a>
              </div>
          </div>
    </div>
</section>